.main-loader{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    /* animation: fadeOut 2s forwards; */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-loader img{
    height: 100px;
    animation: blinking 1.4s infinite linear;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}