footer .social {
  display: flex;
  gap: 15px;
}

footer .social .icon {
  font-size: 26px;
  color: #3c4563;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 50px 8%;
  padding-bottom: 0px;
  color: white;
  position: relative;
  overflow: hidden;
  gap: 0px;
}

.footer{
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.footer .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 20% 80% 60% 40% / 40% 60% 80% 20%;
  left: 80%;
  background: linear-gradient(yellow, green, blue);
  filter: blur(100px);
  opacity: 0.5;
  top: 50%;
  z-index: -1;
}

footer .about {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .property {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .property h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e1735;
}

footer .property ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .contact h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e1735;
}

footer .contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer li {
  font-weight: 300;
  cursor: pointer;
}

@media screen and (max-width: 1070px) {
  footer {
    padding: 30px 3%;
    gap: 20px;
    padding-bottom: 0;
  }

  footer .about {
    width: 40%;
    font-size: 0.9rem;
  }

  footer .property,
  footer .contact,
  footer .about {
    width: 30%;
    gap: 10px;
  }

  footer .property ul,
  footer .contact ul {
    gap: 5px;
  }

  footer .contact {
    width: 30%;
  }
}

@media screen and (max-width: 930px) {
  footer {
    gap: 20px;
  }

  footer .about {
    width: 50%;
  }

  footer .property {
    width: 25%;
  }

  footer .contact {
    width: 25%;
  }

  .logo img {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    gap: 20px;
    padding: 30px 3%;
    padding-bottom: 0;
  }

  footer .about,
  footer .property,
  footer .contact {
    width: 100%;
  }

  footer .property ul,
  footer .contact ul {
    gap: 5px;
  }

  footer .about {
    gap: 10px;
  }

  footer .bg {
    display: none;
  }
  footer li {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 600px) {
  .footer{
    background: linear-gradient(
      rgba(16, 187, 130, 0.1),
      rgba(16, 187, 130, 0.7)
    );
  }
  .footer-bottom p{
    color: black;
  }
  footer {
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 3%;
    padding-bottom: 0;
  }

  footer p,
  footer li {
    color: black;
    font-size: 0.55rem;
  }

  footer .property ul {
    flex-direction: row;
    gap: 10px;
  }

  footer .property ul li {
    color: #0e1735;
  }

  footer .about, footer .property, footer .contact {
    align-items: center;
  }

  footer .social .icon{
    font-size: 15px;
  }
  footer .property h2, footer .contact h2{
    font-size: 1rem;
  }
}
